@media screen and (max-width: 419px) {
	body {
		color: red;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		

	}

	.row {
		float: none;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	#lezioni .left img {
		width: 20%;
		height: 20%;
	}

	#lezioni .right img {
		width: 30%;
		height: 30%;
	}

































}