@media screen and (max-width: 419px) {
	
	/* Generics */
	
	body {
		color: red;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	.row {
		float: none;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 419px;
		margin: 0;
	}

	h3 {
		margin: 0;
	}

	/* #lezioni */

	#lezioni .row .left {
		width: 100%;
	}
	#lezioni .row .right {
		width: 100%;
	}

	#lezioni .left img {
		width: 20%;
		height: 20%;
	}

	#lezioni .right img {
		width: 30%;
		height: 30%;
	}

	

































}