@media screen and (max-width: 419px) {
	
	/* Generics */
	
	body {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-size: smaller;
	}

	img {
		height: 100px;
	}

	.row {
		float: none;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 419px;
		margin: 0;
		padding: 5px 0;
	}

	h1 {
		margin: 10px auto;
	}
	
	h3 {
		margin: 0;
	}
	
	/* #lezioni */
	
	#lezioni .row {
		background-color: #f2f2cd;
		
	}
	
	#lezioni .row .left {
		width: 100%;
	}
	#lezioni .row .right {
		width: 100%;
	}

	/* #Steps */
	
	#steps .row>.left,
	#steps .row>.central,
	#steps .row>.right {
		float: none;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	/* #Why */

	#why .row>.first,
	#why .row>.second,
	#why .row>.third {
		margin: 0;
	}
	
	#why .row {
		background-color: #f2f2cd;
	}
	
	#why .row img {
		height: 60px;
		padding: 20px;
	}

































}